.container{

padding-top: 5%; 


}
.SundhedsFakta1 {
    font-family: Georgia, serif; 
    position: absolute;
    display: table-row-group;
    border-style: dashed;
    border-color: black;
    border-width: thin;

}

.tekstboks_Sundhedsfakta2{
    position: absolute;
    border-style: dashed;
    border-color: black;
    border-width: thin;
    display: table-row-group;
    width: 100%;
  
}

.SundhedsFakta2 {
    font-family: Georgia, serif; 
    position: absolute;
    display: table-row-group;
    border-style: dashed;
    border-color: black;
    border-width: thin;

}