body {
    padding-left: 5%;
    padding-right: 5%;
}

.menu_bar {
    background-color: white;
    height: 15%;
}

.frontpage_header {
    background-color: white;
    height: 15%;
}

.frontpage_header h2 {
    text-align: center;
    margin-top: 0;
}

.frontpage_text {
    background-color: white;
    height: 35%;
    width: 48%;
    padding-left: 2%;
    float: left; 
    overflow: hidden;
}

.frontpage_video1 {
    background-color: white;
    height: 35%;
}

.frontpage_eggs {
    background-color: white;
    height: 35%;
    width: 48%;
    padding-left: 2%;
    float: left;
    overflow: hidden;
}

.frontpage_video2 {
    background-color: white;
    height: 35%;
}